$title-color: #323241;

html {
  overflow-x: hidden;
}

h1 {
  color: $title-color;
}

h3 {
  color: $title-color;
}

.button {
  width: 30%;
  background-image: linear-gradient(to right, #32D368, #2DB4D7);
  padding: 3%;
  border: 0;
  border-radius: 80px;
  color: white;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 4%;
  z-index: 100;
  background-color: white;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;

    li {
      margin-left: 5%;
      color: grey;
    }
  }

  .menu {
    float: right;
    margin-right: 8%;
    cursor: pointer;
  }

  .button {
    display: none;
    width: 20%;
    padding: 2%;
  }
}

nav {
  position: fixed;
  width: 40vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 101;
  transition: all 0.5s;
  margin-left: 60%;
  margin-top: 11%;
  border-radius: 5px;
  transform: translateX(+1000%);

  ul {
    list-style: none;
    text-align: center;
    padding: 0;

    li {
      font-size: larger;
      font-weight: bold;
      cursor: pointer;
      color: rgb(102, 101, 101);
    }
  }
}

.nav-open {
  transform: translateX(0%);
  transition: all 0.5s;
}

.presentation {
  display: flex;
  flex-direction: column;

  .hero-images {
    background-image: url('./images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 85vh;

    img {
      width: 100vw;
      max-height: 100vh;
      transform: translateY(-25%);
      overflow: hidden;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: grey;
    padding: 2%;
  }
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F9FF;
  margin-top: 20%;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;

    img {
      width: 15%;
      height: auto;
    }

    p {
      color: grey;
      padding: 2%;
    }
  }
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FAFAFA;

  .article-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 60vw;
    background-color: #FFFFFF;
    margin-top: 2%;

    div {
      padding: 5%;
    }

    img {
      width: 60vw;
      height: 30vh;
      border-radius: 10px 10px 0 0;
    }

    span {
      color: grey;
    }

    p {
      width: 100%;
      color: grey;
    }
}
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2D314E;
  margin-top: 10%;

  .logo-footer {
    fill: white;
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin-top: 5%;
  }

  ul {
    list-style-type: none;

    li {
      color: white;
      margin-top: 10%;
      font-weight: lighter;
    }
  }

  .rights {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: grey;
    font-size: smaller;

    button {
      width: 50%;
    }
  }
}

@media screen and (min-width: 700px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5%;

    .nav {
      display: flex;
    }

    .menu {
      display: none;
    }

    .button {
      display: unset;
      padding: 1%;
      width: 10%;
    }
  }

  .presentation {
    display: flex;
    flex-direction: row-reverse;

    .hero-images {
      background-image: url('./images/bg-intro-mobile.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
  
      img {
        width: 50vw;
        overflow: hidden;
        transform: translateX(+20%);
      }
    }

    .hero-text {
      margin-top: 5%;
      padding: 7%;
    }
  }

  .information {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .information-wrapper {
      display: flex;
      flex-direction: row;
    }
  }

  .articles {
    display: flex;
    flex-direction: column;

    .articles-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-left: 5%;
      padding-right: 5%;

      .article-card {
        width: 20%;
        
        img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ul {
      padding: 3%;
    }

    .social {
      margin-top: unset;
      width: 30%;
    }
  }
}
