header {
  position: fixed;
  width: 100%;
  padding: 4%;
  z-index: 100;
  background-color: white;

  .menu {
    float: right;
    margin-right: 8%;
  }
}

.presentation {
  display: flex;
  flex-direction: column;

  .hero-images {
    background-image: url('./images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  img {
    width: 100%;
    transform: translateY(-25%);
  }
}