header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
}

.presentation {
  display: flex;
  flex-direction: column;

  .hero-images {
    background-image: url('./images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  img {
    width: 100%;
  }
}